.ms-dialog #s4-workspace1{
	overflow:scroll;
}
.ms-dialog #s4-workspace1{
	overflow:scroll;height:700px
}
/***/
.masMainH1{
	background: url('https://web.archive.org/web/20170629010032im_/http://dakglong.daknong.gov.vn/soGDDTimage/bgMainHB.jpg' ) no-repeat left bottom;overflow:hidden;padding-bottom:5px
}
.masCenH1{overflow:auto;}
/**** cau hinh kenh tin tich hop ***/
/***/
.cauhinhtonghoptintuc, .tableOfDisplayStores{
	padding-top:10px;clear:both
}
.allnewline, .getallRSS, .newStoreNameLinkButton{
	float:left;margin-right:10px
}
.allnewline img, .getallRSS img, .newStoreNameLinkButton img{
	vertical-align:middle;margin-right:5px
}
.tableOfDisplayStores{padding-top:10px;}
.tableOfDisplayStores .ms-listviewtable td, .tableOfDisplayStores .ms-listviewtable th{
	border:1px #cdcdcd solid;padding:5px 7px
}
.tableOfDisplayStores .ms-listviewtable .td_paging table td{
	border:0px;padding:0px 3px
}
.tableOfDisplayStores .ms-listviewtable th{
	background-color:#ececec;
}
.dktable{width:100%;}
.dktable td{vertical-align:top;}
td.dktd{width:20%;}
td.dktd2{width:80%;}
td.td_DuyetItem table td{
	padding:0px!important;border:0px!important
}
.dk_group_search{
	overflow:hidden;padding-bottom:5px
}
.dk_TextTim{
	float:left;padding-right:10px
}
.dk_TextTim input{padding-top:3px;}
/**/
table.ds_VBPL td.td_duongdanItem a:link{color:#555;}
div.dk_storeTreeView a:link{color:#333;}
div.dk_storeTreeView a:hover{color:#d00;}
.dk_getAllRSS{
	padding:20px 0px 0px 20px;overflow:hidden
}
.dk_getAllRSS a{
	background: url("../../../../../../20170629010032im_/http%253A/dakglong.daknong.gov.vn/imgSoTTTT/btmCapNhat.png") no-repeat left top;	
	font-weight:bold;
	text-transform:uppercase;
	display:block;
	float:left;
	width:185px;
	height:26px;
	line-height:26px;
	text-align:center;
}
.dk_getAllRSS img,.masquantri .navList,.masquantri #topnav ul.children{display:none!important;}
.dk_storeTreeView{padding-bottom:5px;}
.dk_storeTreeView > a{
	height:2px;overflow:hidden;display:block
}
.dk_getAllRSS a, .dk_getAllRSS a:link, .dk_getAllRSS a:visited,
.dk_storeTreeView a, .dk_storeTreeView a:link, .dk_storeTreeView a:visited{
	color:#000;
}
.dk_getAllRSS a:hover, .dk_storeTreeView a:hover{
	color:#d00;text-decoration:none
}
.dk_storeGridView,.np-zone2{
	padding:5px 0px;	
}
.dk_storeGridView table td, .dk_storeGridView table th{
	vertical-align:top;padding:5px
}
.dk_storeGridView table td{color:#666!important;}
.td_duongdanItem a{
	width:150px;overflow:hidden;display:block
}
div.dk_storeGridView table.ms-listviewtable{
	width:97%!important;border:1px #99CCFF solid!important;border-bottom:0px!important
}
div.dk_storeGridView table.ms-listviewtable tr.td_paging td{
	border-bottom:1px #99CCFF solid!important
}
/****/
#cpanel{
	width:700px;
	overflow:hidden;	
	background-color:#fff;
	margin:0px auto;
	padding:10px 0px 0px 10px;
}
#cpanel div.icon{
	text-align: center;margin:0px 10px 10px 0px;float: left
}
#cpanel div.icon a{
	background:url("https://web.archive.org/web/20170629010032im_/http://dakglong.daknong.gov.vn/imgSoTTTT/bground.png") no-repeat;
	width: 126px;
	height: 137px;
	color: rgb(86, 86, 86);
	text-decoration: none;
	float: left;
	display: block;
	font-family:Arial;
	font-size:12px;
}
#cpanel div.icon a:hover{
	background:url("../../../../../../20170629010032im_/http%253A/dakglong.daknong.gov.vn/imgSoTTTT/bgHover.png") no-repeat;color:#1866b6
}
a{
	text-decoration: none !important;
	font-family:Arial, Helvetica, sans-serif;
}
span{
	text-decoration: none !important;
	font-family:Arial, Helvetica, sans-serif;
}

#cpanel img{
	margin: 0px auto;padding: 10px 0px;border:0px
}
#cpanel span{
	text-align: center;display: block;padding:0px 5px
}
.icon-wrapper img{
	width:60px;height:60px
}
/************ menu quan tri jomla  ***************/
.menuQT{
	margin-bottom:10px;background:url('https://web.archive.org/web/20170629010032im_/http://dakglong.daknong.gov.vn/imgSoTTTT/mnBackg.png') repeat-x left -1px;height:30px;display:block
}
#module-menu{width:auto;}
#menu, #menu ul, #menu li{
	margin: 0px;padding: 0px;border: 0px currentColor
}
#menu{
	position: relative;z-index: 100;
}
#menu li{
	list-style: none;float: left;display: inline;position: relative
}
#menu li a{
	display: block;white-space: nowrap
}
#menu li ul{
	visibility: hidden;position: absolute
}
#menu li li ul{left: 0px;top: 0px}
#menu li:hover ul{visibility: visible;}
#menu li:hover ul li ul,#menu li:hover li:hover ul li ul{visibility: hidden;}
#menu li:hover li:hover ul,#menu li:hover li:hover li:hover ul{
	left: 100%;visibility: visible
}
#menu li{
	border-left:1px #ebedef solid;border-right:1px #b5bbc1 solid;height:29px
}
#menu ul li{
	border-left:1px #ebedef solid;border-right:1px #ebedef solid
}

#menu li li{
	border: 0px currentColor;float: none;display: block
}
#menu ul{
	background-color:#e4e7ea;border:1px solid #b5bbc1;margin-left:1px
}
#menu ul li.node{
	background: url("../../../../../../20170629010032im_/http%253A/dakglong.daknong.gov.vn/imgSoTTTT/j_arrow.png") no-repeat right 50%;
}
#menu ul li.separator{
	background-color:#d5dbe0;height:1px
}
#menu a{
	background-position: left 50%;
	color:#141a20;
	line-height:30px;
	text-decoration: none;
	vertical-align: middle;
	cursor: default;
	background-repeat: no-repeat;
	font-family:Arial;
	font-size:12px;
	padding:0px 20px 0px 10px;
}
#menu li:hover{
	margin: 0px;background-color:#d5dbe0
}
#menu li:hover li a,#menu li:hover li:hover li a{
	background-color: transparent;
}
#menu li:hover li:hover,#menu li:hover li:hover li:hover{background-color:#d5dbe0;}
#menu td.tdImg{
	background-color:#d5dbe0;width:30px;text-align:center
}
div.tabComp1, div.tabComp2, div.tabComp3{
	width:200px;overflow:hidden
}
div.tdImg{
	background-color:#d5dbe0;
	width:30px;
	text-align:center;
	line-height:30px;
	height:30px;
}
div.tdImg img{padding-top:5px;}
div.tdItem{width:170px;}
div.tdImg, div.tdItem,.np-zone1 div,.npImgLink div,.np-line2{float:left;}
/**********/
.masquantri #s4-bodyContainer{min-height:680px;}
.menuQT{
	position:relative;z-index:9;
}
.layoutQT{
	min-height:500px;background-color:#fff
}
/*********** news post ************/
.newsPost{
	width:980px;margin:0px auto;background-color:#fff
}
.np-zone1{
	padding:15px 20px 5px 20px;overflow:hidden
}
.np-zone1 a:link{color:#004299;}
.np-zone1 a:hover{
	color:#d00;text-decoration:none
}
.npContentTieuDe input{width:807px;}
.np-publish{margin:0px 30px;}
.npImgLink{
	overflow:hidden;padding-left:120px
}
.npRow, .npBTM, .npTitle, .np-line, .md-line{
	padding:5px 10px 5px 20px;overflow:hidden;clear:both
}
.npTitle{
	font-size:16px;text-transform:uppercase
}
.np-zone1 .back-home{float:right;}
.npLabel, .np-text-title, .npImgT, .motaImgT, .md-line-title{
	float:left;width:120px;font:bold 12px arial;line-height:20px
}
.npImg, .motaImg{
	float:left;padding-top:5px
}
.motaImg input{width:150px;}
.npImg img{
	width:150px;height:120px
}
.npImgLink,.npInf{clear:both;}
.npInf{
	padding:5px 20px;
}
.npImgText input{width:122px;}
.npCont, .np-input-title, .md-line-control{
	float:left;width:815px
}
.np-input-title input, .npTitle + div div.npContent input{width:807px;}
.np-line1{
	width:290px;float:left;padding-left:20px
}
.np-line2 .npLabel{float:none;}
.np-line2 .npCont{
	float:none;width:650px
}
.np-line2 .npCont textarea{
	width:640px;height:150px
}
.np-stat, .npLabel .style1{color:#f00;}
.npBTM{
	padding-bottom:10px;padding-left:140px
}
.npBTM div{text-align:center;}
.npBTM input{height:22px!important;}
div.ms-quickLaunch div.bandotp span{padding-left:34px;}
.npRow #dvMain{
	width:600px;height:250px;position:relative!important;border:1px #EBEBEB solid
}
.md-title{
	font:bold 12px Arial;text-transform:uppercase;padding:5px 20px;color:#000
}
/***/
div.ms-dlgContent{
	left:140px!important;
}
div.ms-dlgFrameContainer .ms-dlgFrame{
	width:980px!important;
	margin:0px auto;
}
div.ms-dlgContent, div.ms-dlgBorder{
	margin:0px auto;
	height:700px!important;
}
div.ms-dlgContent, div.ms-dlgTitle, div.ms-dlgBorder{
	width:980px!important;
}
/*
     FILE ARCHIVED ON 01:00:32 Jun 29, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:53:33 Apr 06, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 77.897 (3)
  esindex: 0.006
  captures_list: 96.515
  CDXLines.iter: 12.065 (3)
  PetaboxLoader3.datanode: 43.667 (4)
  exclusion.robots: 0.243
  exclusion.robots.policy: 0.208
  RedisCDXSource: 3.96
  PetaboxLoader3.resolve: 71.951 (2)
  load_resource: 40.777
*/